{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "rules": {
    "semi": [
      1,
      "always"
    ],
    "no-extra-semi": 1
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
